@page
<div class="container">
    <div class="row h1">Cognitive Services Device Bridge</div>
    <div class="row h2 text-muted">Inventory Log</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6" id="devControls">
            <label id="userLabel">User..........</label>
            <input type="text" id="userInput" />
            <br />
            <label id="messageLabel">Message...</label>
            <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
        <div class="col-6">
            <input type="button" id="resetButton" value="Reset" class="btn btn-sm btn-outline-secondary" />
            <div class="col-6">&nbsp;</div>
        </div>
    </div>
    <div id="inventoryTable" class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr><th>Name</th><th>Remaining</th><th>Made</th><th>Slacking</th><th>Shrink</th><th>Received</th><th>Total</tr>
            </thead>
            <tbody id="inventoryTableBody"></tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-12" style="overflow: auto">
            <ul id="messagesList" class="list-group"></ul>
        </div>
    </div>
</div>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/inventorylog.js"></script>
